html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}
article{
    border-style: solid;
    border-width: 10px;
    border-color: #8A3200;
    width: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    text-align: center;

}
h1{
    font-size: 40px;
    display: flex;
}
p{
    font-size: 30px;
    font-weight: bold;
}
span{
    color: #8A3200;
}
img{
    border-style: solid;
    border-width: 10px;
    border-color: #8A3200;
    border-radius: 50%;
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
ul li{
    list-style: none;
}
header nav{
    display: none;
}
footer nav ul{
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-around;
    padding: 0;
}
footer nav li a img{
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
}
